@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins',sans-serif;
    background: #000;
}
nav{
    position: relative;
    margin: auto;
    width: fit-content;
    height: 50px;
    background: #272a2c;
    border-radius: 10px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
    padding-right: 5px;
}
nav a{
    font-size: 15px;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
a:nth-child(1){
    width: 100px;
}
a:nth-child(2){
    width: 100px;
}
a:nth-child(3){
    width: 100px;
}
a:nth-child(4){
    width: 100px;
}
a:nth-child(5){
    width: 100px;
    
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #ff0000;
    border-radius: 10px;
    transition: all .5s ease 0s;
}
nav .start-home,a:nth-child(1):hover~.animation{
    width: 100px;
    left: 0;
}
nav .start-about,a:nth-child(2):hover~.animation{
    width: 100px;
    left: 100px;
}
nav .start-blog,a:nth-child(3):hover~.animation{
    width: 100px;
    left: 200px;
}
nav .start-explore,a:nth-child(4):hover~.animation{
    width: 100px;
    left: 300px;
}
nav .start-contact,a:nth-child(5):hover~.animation{
    width: 105px;
    left: 400px;
}
#home:checked ~ nav label.home,
#about:checked ~ nav label.about,
#blog:checked ~ nav label.blog,
#explore:checked ~ nav label.explore,
#contacts:checked ~ nav label.contacts{
  color: #fff;
}
#about:checked ~ nav .animation{
left: 100px;
}
#blog:checked ~ nav .animation{
left: 200px;
}
#explore:checked ~ nav .animation{
left: 300px;
}
#contacts:checked ~ nav .animation{
left: 400px;
}
input[type=radio]{
  display: none;
}
